@page
@model Umovie.Pages.Account.RegistrationModel
@{
}
<form method="post" asp-page-handler="TryRegisterUser">
    <input type="text" name="userEmail">
    <input type="text" name="userName">
    <input type="submit" name="deleteButton" value="Register">
</form>