.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

    .pagination a,
    .pagination span {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        text-decoration: none;
    }

        .pagination a:hover {
            background-color: #e9e9e9;
        }
